body{
    background-color: rgb(142, 157, 164);
}

#calci {
    background-color: rgb(19, 17, 17);
    text-align: center;
    color: aliceblue;
    height: 250px;
    width: 70%;
    position: relative;
    left: 15%;
}

#re {
    background-color: rgb(239, 243, 241);
    color: black;
    
}

#pt {
    position: relative;
    top: 100px;
}

#he {
    background-color: rgb(45, 123, 143);
    height: 30px;
    position: relative;
    left: 13%;
    border-radius: 20%;
    top: 2px;
    width: 50%;
    margin-bottom: 2%;
    margin-left: 12%;

}